/*.fotarIzquierda {*/
/*!*    float: right;*!*/
/*!*    background-color: red;*!*/
/*}*/

h1{
    /*background-color: blue;*/
    /*color: red;*/
}

td{
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
    /*background-color: aqua;*/
}

.celdaBarco {
    background-color: aqua;
}

