#statusID{
    /*align-self: center;*/
    /*align-self: right;*/
    text-align: center;
}

#jugadoresGamesviewID{
    text-align: center;
}

td{
    /*width: 2rem;*/
    /*height: 2rem;*/
    border: 0.1rem solid black;
    /*background-color: aqua;*/
}

.celdaNormal {
    width: 2rem;
    height: 2rem;
}

.celdaSinBarco, .celdaSinSalvo{
    background-color: aqua;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
}

.celdaBarco {
    background-color: gray;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
}

#Carrier, #Battleship, #Submarine, #Destroyer, #PatrolBoat{
    background-color: gray;
    border: 0.1rem solid black;
    position: absolute;
    /*z-index: 3 !important;*/
    margin-top: -0.85rem;
}

.CarrierHor{
    width: 9.8rem;
    height: 1.8rem;
}

.CarrierVer{
    width: 1.8rem;
    height: 9.8rem;
}

.BattleshipHor{
    width: 7.8rem;
    height: 1.8rem;
}

.BattleshipVer{
    width: 1.8rem;
    height: 7.8rem;
}

.SubmarineHor, .DestroyerHor{
    width: 5.8rem;
    height: 1.8rem;
}

.SubmarineVer, .DestroyerVer{
    width: 1.8rem;
    height: 5.8rem;
}

.PatrolBoatHor{
    width: 3.8rem;
    height: 1.8rem;
}

.PatrolBoatVer{
    width: 1.8rem;
    height: 3.8rem;
}


.celdaSalvo{
    background-color: red;
}

.celdaTocado{
    background-color: orange;
    border: 0.1rem solid black;
}

.boxRejillas{
    display: flex;
    justify-content: space-around;
}

#rejillaBarcosID{
    display: inline;
    /*background-color: grey;*/
}

#rejillaSalvosID{
    display: inline;
}

.allShips{
    display: inline;
    margin-top: -3rem;
    /*background-color: cyan;*/
}

.nomShips{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#divLogOut{
    display: none;
}
#crearGameID{
    display: none;
}

.hitOnYouCl {
    display: inline;
}


.sinksOnYouCl{
    display: inline;
}

.hitOpponentCl {
    display: inline;
    /*float: right;*/
    margin-left: 2rem;
}

.sinksOnOpponCl{
    display: inline;
    /*float: right;*/
}




