/*.fotarIzquierda {*/
/*!*    float: right;*!*/
/*!*    background-color: red;*!*/
/*}*/

h1{
    /*background-color: blue;*/
    /*color: red;*/
}

td{
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
    /*background-color: aqua;*/
}

.celdaBarco {
    background-color: gray;
}

.celdaSinBarco{
    background-color: aqua;
}

.celdaSinSalvo{
    background-color: aqua;
}

.celdaSalvo{
    background-color: red;
}

/*#gameID1{*/
    /*width: 40%;*/
    /*display: inline;*/
/*}*/

/*#gameID2{*/
    /*width: 40%;*/
    /*display: inline;*/
/*}*/

